<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>My Piano lives at</h4>
        <p>
          6 / 160 Gwenyfred Road<br/>
          6151 Kensington<br/>
          Western Australia
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Check me out</h4>
        <p>
          <span class="glyphicon glyphicon-earphone" style="font-size:25px"></span><a href="tel:+61431931879"><i class="fa fa-phone"></i> 04 319 318 79</a><br/>
          <a href="#">Facebook</a><br/>
          <a href="#">Youtube</a><br/>
          <a href="#">Google+</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Pianology available in the South Perth area</h4>
        <p>I teach piano lessons at your place. <br/>Teaching in the area of <em>South Perth, Victoria Park, East Victoria Park, Kensington, Como</em>.</p>
      </div>
    </div>
  </div>
</div>

<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

