<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4>My Piano lives at</h4>
        <p>
          6 / 160 Gwenyfred Road<br/>
          6151 Kensington<br/>
          Western Australia
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Visit us</h4>
        <p>
          <a href="#">Facebook</a><br/>
          <a href="#">Youtube</a><br/>
          <a href="#">Google+</a>
        </p>
      </div>
      <div class="col-lg-4">
        <h4>Pianology available in the South Perth area</h4>
        <p>Come to my place or I will come to yours if you live in the area of South Perth, Victoria Park, East Victoria Park, Kensington, Como.</p>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/bootstrap.min.js"></script>

